.grid-container {
	display: grid;
	background-color: rgba(120, 120, 120, 0.9);
	padding: 10px;
}

.grid-container > div {
	background-color: rgba(20, 20, 20, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.item1 {
	font-family: Verdana;
}

.tab {
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.8);
	background-color: rgba(120, 120, 120, 0.9);
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	color: white;
	font-family: Verdana;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
